services:
  ollama:
    container_name: ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    image: ollama/ollama:0.15.3
    ports:
      - 11434:11434
    volumes:
      - ./ollama:/root/.ollama

  opencode:
    container_name: opencode
    image: ghcr.io/anomalyco/opencode
    volumes:
      - ./opencode/opencode.json:/root/.config/opencode/opencode.json
      - ./opencode/code:/root/code
